*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Open Sans;
}
body{
     background-image: url(background.jpg);
     background-attachment: fixed;

}
.container{
    width: 100%;
    height: 100%;
    display : flex;
    flex-direction : column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 10px ;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.shop-name {
    font-family: Sail; ;
    color: white;
    font-size: 58px;
    line-height: 67px;
}

.button{
    display: flex;
    background-color: rgba(0, 136, 169, 0);
    border: none;
    text-decoration: none;
    margin:none;
    padding: none;
    color: white;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    scroll-behavior: smooth;
}
.button:hover{
    color: lightseagreen;
}
.welcome-text{
    height: 68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 68px;

    padding-right: 60px;
}
.petees-text{
    height: 181px;

    padding-left: 60px;

    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 105px;
    line-height: 121px;

    color: #000000;
}
.shopimage{
    height: 404px;
    width: auto;
}

.main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 475px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.welcome-text-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    padding-top: 100;
}
.products{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    text-align: center;
   
}




.product-images{
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.hover-grocery::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-grocery:hover::after{
    content: "GROCERY";
    text-decoration: none;
    opacity: 0.75;
}

.hover-bakery::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-bakery:hover::after{
    content: "BAKERY";
    text-decoration: none;
    opacity: 0.75;
}

.hover-stationary::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-stationary:hover::after{
    content: "STATIONARY";
    text-decoration: none;
    opacity: 0.75;
}

.hover-dairy::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-dairy:hover::after{
    content: "DAIRY";
    text-decoration: none;
    opacity: 0.75;
}

.hover-electrical::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-electrical:hover::after{
    content: "ELECTRICAL";
    text-decoration: none;
    opacity: 0.75;
}

.hover-fruits::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-fruits:hover::after{
    content: "FRUITS";
    text-decoration: none;
    opacity: 0.75;
}

.hover-vegetables::after {
    position: absolute;
    top: -302px;
    left: 6px;
    width: 250px;
    height: 250px;
    padding: 0.5cm;
    margin:0.3cm;
    border-radius:50%;
    background-size:100%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0;
    background-color:white;
    color: black;
    transition: 0.7s ease 0s;
}
.hover-vegetables:hover::after{
    content: "VEGETABLES";
    text-decoration: none;
    opacity: 0.75;
}


















section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.footer{
    margin-top:100px;
    bottom :0px;
    position : static;
    display:flex;
    z-index : 200;
    height : 250px;
    width :100%;
    background-color:black;
    color :white;
}

p{
    margin : 0.5cm;
    font-size:larger;
    text-decoration:none;
}

p a{
    text-decoration:none;
}