<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/table.css">
    <title>Document Bakery</title>
    <style>
        body{
    display: flex;
    flex-direction: column;
    justify-content : space-around;
    align-items : center;
    background-image: url(/static/res/background.jpg);
    background-attachment: fixed;
    }

    table, th, td {
        border: 3px solid black;
        font-weight : 500;
    }

    table{
        width : 50%;
        height : auto;
    }
    </style>
</head>
<body>
    <h1>Bakery</h1>
    <table style="">
        <tr>
            <th>Sl.No</th>
            <th>ITEM</th>
            <th>MRP</th>
            <th>Our Price</th>
        </tr>
        {% for b in bakery %}
            <tr>
                <td>{{ b.bakery_id }}</td>
                <td>{{ b.bakery_name }}</td>
                <td>{{ b.bakery_mrp }}</td>
                <td>{{ b.bakery_price }}</td>
            </tr>
            {% endfor %}
            
        
    </table>
</body>
</html>