
{% extends "base1.html" %}
{% block table %}
        <h1>Fruits</h1>
        <table>
            <tr>
                <th>Sl.No</th>
                <th>ITEM</th>
                <th>MRP</th>
                <th>Our Price</th>
            </tr>
            {% for f in fruits %}
                <tr>
                    <td>{{ f.fruits_id }}</td>
                    <td>{{ f.fruits_name }}</td>
                    <td>{{ f.fruits_mrp }}</td>
                    <td>{{ f.fruits_price }}</td>
                </tr>
                {% endfor %}


        </table>
        {% endblock %}