
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/peetees (2).css">
    <link href="https://fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeeTees</title>
</head>
<body>
    <div class="main-container">
        <header class="header-of-the-site">
            <h1 class="shop-name">PeeTees</h1>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#contact_us">Contact us</a></li>
                    <li><a href="admin/">Admin</a></li>
                </ul>
            </nav>
        </header>
        <div class="welcome-container" id="home">
            <div class="welcome-text-container">
                <h1 class="welcome-to">Welcome to</h1>
                <h1 class="peetees">PeeTees</h1>
            </div>
            <div class="welcome-image-container">
                <img src="static/res/store1.jpg" alt="An image of a shop" class="shop_image">
            </div>
        </div>
        <div class="links-container" id="products">
            <h1 style="font-size: 68px; font-weight: 100; font-family: sail; margin-bottom: 20px;">Products</h1>
            <a href="grocery" class="links grocery-hover"><img src="static/res/grocery.jpg" alt="Grocery" class="links-images"></a>
            <a href="bakery" class="links bakery-hover"><img src="static/res/bakery.jpg" alt="Bakery" class="links-images"></a>
            <a href="stationary" class="links stationary-hover"><img src="static/res/stationary.jpg" alt="Stationary" class="links-images"></a>
            <a href="dairy" class="links dairy-hover"><img src="static/res/dairy.jpg" alt="Dairy" class="links-images"></a>
            <a href="electrical" class="links electrical-hover"><img src="static/res/electrical.jpg" alt="Electrical" class="links-images"></a>
            <a href="fruits" class="links fruits-hover"><img src="static/res/fruits.jpg" alt="Fruits" class="links-images"></a>
            <a href="vegetables" class="links vegetables-hover"><img src="static/res/vegetables.jpg" alt="Vegetables" class="links-images"></a>
        </div>
        <div class="footer" id="contact_us">
            <div class="logo-container">
                <h1 class="shop-name">PeeTees</h1>
            </div>
            <div class="contacts-container">
                <p>East Combara,Irinjalakuda</p>
                <p>Pin code : 680121</p>
                <p>+91 9995569247</p>
                <p><a href="ptjose2020@gmail.com">ptjose2020@gmail.com</a></p>
            </div>
            <div class="about-container">
                <h3>About The Shop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, corporis. Eum, nihil. Voluptates aliquid eaque neque consequatur! Ducimus dolor rerum cupiditate quaerat officia aperiam! Quisquam cupiditate voluptatum mollitia nesciunt labore?</p>

            </div>
        </div>
    </div>
    
</body>
</html>
