<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Stationary</title>
</head>
<body>
    <h1>Stationary</h1>
    <table>
        <tr>
            <th>Sl.No</th>
            <th>ITEM</th>
            <th>MRP</th>
            <th>Our Price</th>
        </tr>
        {% for s in stationary %}
            <tr>
                <td>{{ s.stationary_id }}</td>
                <td>{{ s.stationary_name }}</td>
                <td>{{ s.stationary_mrp }}</td>
                <td>{{ s.stationary_price }}</td>
            </tr>
            {% endfor %}
            
        
    </table>
</body>
</html>