<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/res/peetees logo.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeeTees</title>
</head>
<body style="background-image: url('static/res/background.jpg');">
    <header class="header">
        <h1 class="shop-name">PeeTees</h1>
        <nav>
            <a href="" class="button">Home</a>
            <a href="" class="button">Products</a>
            <a href="#about" class="button">About</a>
            <a href="" class="button">Contact us</a>
        </nav>
    </header>
    <div class="main-page page">
        <div class="welcome-text-container">
            <h1 class="welcome-text">Welcome to</h1>
            <h1 class="petees-text">PeTees</h1>
        </div>
        <div class="image-container">
            <img src="static/res/store1.jpg" alt="image of a shop" class="shopimage">
        </div>
    </div>
    <!-- Footer -->
    <div>
        <footer class="footer-distributed" id="contact">

          <div class="footer-left">

            <h3>Peetees</h3>

            <p class="footer-links">
              <a href="#">Home</a>
              |
              <a href="#">Blog</a>
              |
              <a href="#about">About</a>
              |
              <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© 2021 Easy Shoping Solutions Pvt. Ltd.</p>
          </div>

          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
                <p><span>East Combera,Irinjalakuda Pin code:680121</span></p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91 9447528003</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:ptjose2020@gmail.com">ptjose2020@gmail.com</a></p>
            </div>
          </div>
          <div class="footer-right">
            <p class="footer-company-about">
              <span>About the company</span>
              We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </footer>
    </div>
</body>
</html>
