{% extends "base1.html" %}
{% block table %}
        <h1>Vegetables</h1>
        <table>
            <tr>
                <th>Sl.No</th>
                <th>ITEM</th>
                <th>MRP</th>
                <th>Our Price</th>
            </tr>
            {% for v in vegetables %}
                <tr>
                    <td>{{ v.vegetables_id }}</td>
                    <td>{{ v.vegetables_name }}</td>
                    <td>{{ v.vegetables_mrp }}</td>
                    <td>{{ v.vegetables_price }}</td>
                </tr>
                {% endfor %}
        </table>
        {% endblock %} 