margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    #border: 1px solid red;
    /* border: 1px solid red; */
    list-style: none;
}

body{
    #background-image: url(seamless-pattern-elements-shopping-white-background-51081289.jpg);
    #background-attachment: fixed;
@@ -110,3 +112,60 @@ nav {
.page {
    padding-top: 100;
}

.hidden {
    display: none !important;
}

.account-image {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.account-image:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.settings-menu {
    position: absolute;
    top: 80px;
    right: -10px;
    background-color: #000000;
    width: fit-content;
    min-width: 150px;
    padding: 5px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}
.list-items {
    color: rgb(179, 179, 179);
    margin: 10px;
    text-decoration: none;
}
.list-items:hover {
    color:white;
}
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}